*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    background-color: #F5F5F5;
}

.container{
    max-width: 1020px;
    margin: 0 auto;
}

.header{
    position: absolute;
    z-index: 10;
    width: 1020px;
    margin-left: 210px;
    &__block{
        display: flex;
        justify-content: space-between;
        margin-top: 26px;
    }
    &__block-hours{
        display: flex;
    }
    &__case{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__text{
        font-size: 12px;
        font-weight: 900;
        color: #FFFFFF;
    }
    &__box-text{
        display: flex;
        flex-direction: column;
    }
    &__two{
        position: absolute;
        right: 0;
        background-color: #F2726F;
        border-radius: 50%;
        font-size: 10px;
        font-weight: 400;
        padding: 0 4px;
        top: 12px;
        right: 44px;
    }
    &__block-img{
        display: flex;
        gap: 22px;
    }
    &__button{
        font-size: 12px;
        font-weight: 700;
        color: #FFFFFF;
        width: 210px;
        height: 48px;
        border: none;
        border-radius: 10px;
        background-color: #F2726F;
        text-transform: uppercase;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        padding: 20px 52px 20px 40px;
        position: relative;
        border-radius: 10px;
        margin-top: 28px;
    }
    &__list{
        display: flex;
        gap: 37px;
        align-items: center;
    }
    &__ol{
        display: flex;
        gap: 37px;
        font-size: 14px;
        font-weight: 900;
    }
    &__select{
        border: none;
        font-size: 14px;
        font-weight: 900;
    }
    &__text-two{
        font-size: 14px;
        font-weight: 900;
        
    }
    &__pic{
        height: 20px;
        width: 20px;
        margin-right: 12px;
    }
}

.intro{
    position: relative;
    background: url(../img/HERO.png) no-repeat center center / cover;
    padding: 208px 0 400px 0;
    &__title{
        color: #fff;
        font-size: 56px;
        font-weight: 900;
        max-width: 585px;
    }
    &__button{
        font-size: 12px;
        font-weight: 700;
        color: #FFFFFF;
        width: 210px;
        height: 48px;
        border: none;
        border-radius: 10px;
        background-color: #F2726F;
        text-transform: uppercase;
        margin-top: 48px;
    }
}

.dog{
    margin-top: -80px;
    margin-bottom: 180px;
    &__wrap{
        position: relative;
        background-color: #5D62B5;
        padding: 100px 87px 0 87px;
        border-radius: 40px;
        height: 700px;
    }
    &__subtitle-box{
        display: flex;
        align-items: center;
        color: #F5F5F5;
        padding-bottom: 33px;
        text-transform: uppercase;
    }
    &__title{
        font-size: 36px;
        font-weight: 900;
        color: #F5F5F5;
        padding-bottom: 36px;
        max-width: 583px;
    }
    &__text{
        font-size: 16px;
        font-weight: 400;
        color: #F5F5F5;
        margin-bottom: -54px;
        position: relative;
    }
    &__dots{
        position: absolute;
        top: -110px;
        right: -70px;
    }
    
    &__photo{
        margin-bottom: -80px;
        position: absolute;
        bottom: 0px;
        img{
            border-radius: 40px;
        }
    }
    &__blob{
        position: absolute;
        bottom: 10px;
         left: 26px;
    }
}

.perspiciatis{
    &__subtitle-box{
        display: flex;
        align-items: center;
        margin-bottom: 33px;
    }
    &__subtitle{
        color: #5D62B5;
        font-size: 12px;
        font-weight: 700;
    }
    &__title{
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 68px;
    }
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__box{
        display: flex;
        gap: 23px;
        margin-bottom: 122px;
        &-title{
            margin-bottom: 20px;
            color: #F2726F;
            font-size: 19px;
            font-weight: 900;
        }
        &-text{
            max-width: 235px;
            color: #4B4B4B;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.nemo{
    background: url(../img/BG\ Image.png) no-repeat center center / cover ;
    height: 500px;
    margin-bottom: 110px;
    &__wrap{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    &__block{
        margin: 112px 0 169px 0;
        max-width: 411px;
    }
    &__title{
        font-size: 36px;
        font-weight: 900;
        color: #FFFFFF;
        margin-bottom: 45px;
    }
    &__btn{
        font-size: 12px;
        font-weight: 700;
        color: #FFFFFF;
        width: 210px;
        height: 48px;
        border: none;
        border-radius: 10px;
        background-color: #F2726F;
        text-transform: uppercase;
    }
}

.omnis{
    &__subtitle-box{
        display: flex;
        align-items: center;
        margin-bottom: 33px;
    }
    &__subtitle{
        color: #5D62B5;
        font-size: 12px;
        font-weight: 700;
    }
    &__title{
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 68px;
    }
    &__catalog-box{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__catalog{
        display: flex;
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 66px;
    }
    &__case{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #FFFFFF;
        max-width: 324px;
        height: 240px;
        padding: 50px 43px;
        border-radius: 20px;
        &-shadow{
            box-shadow: 0px 4px 24px 0px rgba(34, 60, 80, 0.2);
        }
    }
    &__img{
        margin-bottom: 33px;
    }
    &__caption{
        font-size: 19px;
        font-weight: 900;
        color:#F2726F ;
        margin-bottom: 20px;
    }
    &__text{
        font-size: 16px;
        font-weight: 400;
        color: #4B4B4B;
    }
    &__btn{
        margin: 0 auto;
        font-size: 12px;
        font-weight: 700;
        color: #FFFFFF;
        width: 124px;
        height: 48px;
        border: none;
        border-radius: 10px;
        background-color: #F2726F;
        text-transform: uppercase;
        margin-bottom: 112px;
    }
}

.appointment{
    background: url(../img/Background.png) no-repeat center center / cover;
    height: 980px;
    &__circles{
        position: absolute;
        z-index: 1;
        top: 140px;
        left: -80px;
    }
    &__blob{
        position: absolute;
    }
    &__block{
        display: flex;
        justify-content: space-between;
        padding-top: 130px;
        position: relative;
    }
    &__box{
        background-color: #5D62B5;
        border-radius: 40px;
        padding: 76px 57px;
        position: relative;
        z-index: 10;
        &-input{
            display: flex;
            justify-content: space-between;
            margin-bottom: 22px;
        }
    }
    &__input{
        max-width: 224px;
        max-height: 48px;
        border-radius: 10px;
        background-color: #5D62B5;
        border-color: #FFFFFF;
        padding: 16px 23px;
        color: #FFFFFF;
        &::placeholder{
            color: #FFFFFF;
        }
    }
    &__puppers{
        width: 470px;
        height: 180px;
        border-radius: 10px;
        background-color: #5D62B5;
        border-color: #FFFFFF;
        margin-bottom: 30px;
        &::placeholder{
            color: #FFFFFF;
            padding: 17px 0 0 23px;
            position: absolute;
            top: 0;

        }
    }
    &__heading{
        font-size: 36px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 47px;
        color: #FFFFFF;
    }
    &__btn{
        margin: 0 auto;
        margin-left: 260px;
        font-size: 12px;
        font-weight: 700;
        color: #FFFFFF;
        width: 210px;
        height: 48px;
        border: none;
        border-radius: 10px;
        background-color: #F2726F;
        text-transform: uppercase;
    }
    &__title-box{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
    }
    &__subtitle{
        font-size: 30px;
        font-weight: 900;
        color: #FFFFFF;
        margin-top: 166px;
        padding-bottom: 46px;
        max-width: 324px;
    }
    &__title{
        font-size: 96px;
        font-weight: 900;
        color: #FFFFFF;
        padding-bottom: 46px;
        max-width: 324px;
    }
    &__text{
        font-size: 19px;
        font-weight: 900;
        color: #FFFFFF;
        margin-bottom: 194px;
        max-width: 324px;
    }
}

.check{
    &__block{
        background-color: #5D62B5;
        height: 700px;
        padding: 100px 87px 0 87px;
        position: relative;
        margin-top: -80px;
        border-radius: 40px;
    }
    &__subtitle-box{
        display: flex;
        align-items: center;
        padding-bottom: 35px;
    }
    &__subtitle{
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 700;
    }
    &__title{
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 900;
        padding-bottom: 55px;
    }
    &__ul{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        padding: 15px 39px;
        border-bottom: 1px solid #FFFFFF;
        
    }
    &__block-list{
        position: relative;
    }
    &__li{
        font-weight: 700;
        text-align: center;
    }
    &__circle{
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #62B58F;
        position: absolute;
        left: 332px;
        top: 10px;
        &-two{
            left: 570px;
        }
        &-white{
            left: 808px;
            background-color: #D5D5D5;
        }
    }
    &__line{
        position: absolute;
        width: 200px;
        height: 4px;
        background-color: #FFFFFF;
        left: 162px;
        top: 47px;
    }
    &__img{
        width: 846px;
        height: 480px;
        margin: 0 auto;
        margin-top: 50px;
        position: absolute;
        top: 340px;
        
        img{
            border-radius: 40px;
        }
    }
    &__live{
        background-color: #62B58F;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 68px;
        height: 30px;
        position: absolute;
        right: 119px;
        top: 410px;
    }
}

.distinctio{
    margin-top: 240px;
    
    &__block{
        display: flex;
        margin-bottom: 210px;
    }
    &__subtitle-box{
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
    &__subtitle{
        font-size: 12px;
        font-weight: 700;
        color: #5D62B5;
    }
    &__title{
        font-size: 36px;
        font-weight: 900;
    }
    &__case{
        max-width: 324px;
    }
    &__text{
        font-size: 16px;
        font-weight: 400;
    }
    &__box{
        display: flex;
        gap: 24px;
        &-name{
            display: flex;
            margin-top: 30px;
        }
    }
    &__block-name{
        background-color: #FFFFFF;
        max-width: 324px;
        padding: 50px 44px 40px 43px;
        border-radius: 20px;
    }
    &__name{
        padding: 12px 17px;
        color: #F2726F;
        font-size: 16px;
        font-weight: 700;
    }
}

.voluptas{
    background-color: #29C3BE;
    height: 608px;
    &__pic{
        position: absolute;
        top: -80px;
        left: 524px;
        z-index: 10;
    }
    &__blob{
        position: absolute;
        left: 441px;
    }
    &__block{
        position: relative;
    }
    &__subtitle-box{
        display: flex;
        padding-top: 112px;
    }
    &__subtitle{
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__title{
        padding-top: 31px;
        padding-bottom: 79px;
        font-size: 36px;
        font-weight: 900;
        color: #FFFFFF;
        max-width: 411px;
    }
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__box{
        display: flex;
    }
    &__case{
        padding-left: 11px;
        padding-top: 4px;
    }
    &__number{
        font-size: 36px;
        font-weight: 900;
        color: #FFFFFF;
    }
    &__text{
        font-size: 16px;
        font-weight: 700;
        color: #5D62B5;
    }
}

.magna{
    &__block{
        display: flex;
        justify-content: space-between;
        background-color: #5D62B5;
        max-height: 105px;
        padding: 43px 76px 46px 70px;
        border-radius: 20px;
        margin-top: -72px;
    }
    &__text{
        font-size: 24px;
        font-weight: 900;
        color: #FFFFFF;
        max-width: 562px;
    }
    &__btn{
        font-size: 12px;
        font-weight: 700;
        color: #FFFFFF;
        width: 210px;
        height: 48px;
        border: none;
        border-radius: 10px;
        background-color: #F2726F;
        text-transform: uppercase;
    }
}

.footer{
    &__block{
        display: flex;
        justify-content: space-between;
        margin-top: 88px;
    }
    &__logo{
        margin-bottom: 23px;
    }
    &__text{
        max-width: 235px;
        margin-bottom: 33px;
        font-size: 14px;
        font-weight: 400;
        color: #4B4B4B;
    }
    &__block-img{
        display: flex;
        gap: 20px;
    }
    &__title{
        margin-bottom: 28px;
        font-size: 14px;
        font-weight: 700;
        color: #4B4B4B;
    }
    &__ul-block{
        display: flex;
        min-width: 160px;
        gap: 37px;
    }
    &__title-case{
        margin-bottom: 28px;
        font-size: 14px;
        font-weight: 700;
        color: #4B4B4B;
    }
    
    &__ul{
        display: flex;
        flex-direction: column;
        gap: 11px;
        font-size: 14px;
        font-weight: 700;
        color: #4B4B4B;
    }
    &__ul-case{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__li{
        margin-left: 18px;
        font-size: 14px;
        font-weight: 400;
        color: #4B4B4B;
    }
    &__case{
        max-width: 237px;
    }
    &__img-case{
        display: flex;
        img{
            height: 16px;
            width: 16px;
        }
    }
}

.Tagline{
    background-color: #5D62B5;
    margin-top: 98px;
    &__block{
        display: flex;
        justify-content: space-between;
        padding: 23px 0 19px 0;
    }
    &__text{
        font-size: 12px;
        font-weight: 400;
        color: #959595;
    }
    &__text-two{
        font-size: 12px;
        font-weight: 700;
        color: #959595;
    }
    &__span{
        font-size: 12px;
        font-weight: 400;
        color: #959595;
    }
}